<div class="jumbotron mt-5" id="appAboutUs">
    <div class="text-center">
        <h1>About Us</h1>
        <hr>
    </div>
    <div class="py-2">
        <p>The main aim of Paycarz is to improve the services of Customer and Car Rental Agencies. A Car rental ageny is
            an agency
            that provides automobiles for hire to the customers. It rents automobiles for short period of
            time for a fee whether in a few hours or a few days or week. It is more convenient than carrying the cost of
            owning and maintaining a car.
        </p>
    </div>
    <div class="text-center">
        <h4>Unlock the World. Faster.</h4>
    </div>
    <div class="text-center color-yellow font-weight-bold">
        <p>...and take full control of your rental experience</p>
    </div>
    <div class="text-center">
        <p>Find your car with ease.</p>
        <p>Choose the exact vehicle you want.</p>
        <p>Bypass the queue and be on your way in minutes.</p>
        <p>Through this portal the car rental agencies seek to enhance its services by offering them to the customers
            and build customer loyalty.</p>
        <p>It transforms the manual process of hiring a car to a computerised system.</p>
        <p>It simplifies the tasks of agency owners and the customers.</p>
    </div>
</div>