<div>
    <div class="nav-bar-ghost"></div>
    <nav class="navbar navbar-expand-sm fixed-top bg-light">
        <span class="navbar-brand">Paycarz - Top Car rental deals - Save big</span>
        <!-- Links -->
        <ul class="navbar-nav nav-pills">
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz/home" [fragment]="'appHomePageHeader'" [routerLinkActiveOptions] = "{ exact : true }">Home</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz/home/appCustomerServices" [fragment]="'appCustomerServices'" [routerLinkActiveOptions] = "{ exact : true }">Services</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz/home/appGallery" [fragment]="'appGallery'" [routerLinkActiveOptions] = "{ exact : true }">Gallery</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz/home/appReviews" [fragment]="'appReviews'" [routerLinkActiveOptions] = "{ exact : true }">Reviews</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz/home/appAboutUs" [fragment]="'appAboutUs'" [routerLinkActiveOptions] = "{ exact : true }">About Us</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz/home/app-contact-us" [fragment]="'appContactUs'" [routerLinkActiveOptions] = "{ exact : true }">Contact</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz/app-signin-form">Sign In</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz/app-signup-customer-form">Sign Up</a>
            </li>
        </ul>

    </nav>
</div>