<div class="container">
    <div class="py-3 text-center">
        <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
            <div class="pt-2 form-group">
                <select class="form-control" name="categories" formControlName="categories"
                    (change)="getSubCategoriesList()">
                    <option [ngValue]="null" disabled>Select your car category</option>
                    <option *ngFor="let category of categories" [ngValue]="category.categoryId">
                        {{category.categoryName}}
                    </option>
                </select>
            </div>
            <div class="pt-2 form-group">
                <select class="form-control" name="subCategories" formControlName="subCategories">
                    <option [ngValue]="null" disabled>Select your car type</option>
                    <option *ngFor="let subCategory of subCategories" [ngValue]="subCategory.subCategoryId">
                        {{subCategory.subCategoryName}}</option>
                </select>
            </div>
            <div class="pt-2 form-group">
                <table class="w-100">
                    <tr>
                        <td rowspan="2" class="bg-light w-25 text-left pl-2"><i class="las la-map-marker-alt"></i> From
                        </td>
                        <td>
                            <select class="form-control" name="fromStates" formControlName="fromStates"
                                (change)="getFromCitiesList()">
                                <option [ngValue]="null" disabled>Select State</option>
                                <option *ngFor="let state of fromStates" [ngValue]="state.stateId">{{state.stateName}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control" name="fromCities" formControlName="fromCities">
                                <option [ngValue]="null" disabled>Select City</option>
                                <option *ngFor="let city of fromCities" [ngValue]="city.cityId">{{city.cityName}}
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pt-2 form-group">
                <table class="w-100">
                    <tr>
                        <td rowspan="2" class="bg-light w-25 text-left pl-2"><i class="las la-map-marker-alt"></i> To
                        </td>
                        <td>
                            <select id="toState" class="form-control" name="toStates" formControlName="toStates"
                                (change)="getToCitiesList()">
                                <option [ngValue]="null" disabled>Select State</option>
                                <option *ngFor="let state of toStates" [ngValue]="state.stateId">{{state.stateName}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control" name="toCities" formControlName="toCities">
                                <option [ngValue]="null" disabled>Select City</option>
                                <option *ngFor="let city of toCities" [ngValue]="city.cityId">{{city.cityName}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pt-2 form-group">
                <table class="w-100">
                    <tr>
                        <td rowspan="2" class="bg-light w-50 text-left pl-2"><i class="las la-calendar-alt"></i> Date of
                            Travel</td>
                        <td>
                            <input type="date" name="dateOfTravel" class="form-control" formControlName="dateOfTravel">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pt-2 form-group d-flex">
                <div class="pl-1">
                    Are you a registered user?
                </div>
                <div class="d-flex pl-1 form-group mb-0">
                    <div class="px-2">
                        <input type="radio" name="registeredUser" id="radioYes" value="yes" formControlName="registeredUser">
                        <label for="radioYes" class="pl-1">Yes</label>
                    </div>
                    <div class="px-2">
                        <input type="radio" name="registeredUser" id="radioNo" value="no" formControlName="registeredUser">
                        <label for="radioNo" class="pl-1">No</label>
                    </div>
                    
                </div>
            </div>
            <div>
                <span class="help-block" *ngIf="!bookingForm.valid && bookingForm.touched">
                    Please enter valid details!
                </span>
            </div>
            <div class="pt-2 form-group">
                <input type="submit" name="submitBtn" formControlName="submitBtn"
                    class="form-control btn font-weight-bold bg-yellow text-white">
            </div>
        </form>
    </div>
</div>