<div class="text-center m-auto py-5">
    <h1 class="text-secondary">Car View</h1>
    <hr>
    <div class="">
        <h4 class="text-secondary pt-5 font-weight-bold">Car Images</h4>
        <div class="d-flex flex-wrap">
            <div class="col-lg-4 col-md-6" *ngFor = "let galleryImage of imagesUrlList">
                <app-gallery-item [galleryImage] = galleryImage [imageHeight]="270"></app-gallery-item>
            </div>
        </div>
    </div>  
    <div class="text-secondary">
        <h4 class="pt-5 font-weight-bold pb-3">Booking details</h4>
        <div class="d-flex border-yellow mx-3">
            <div class="text-center w-50 border-yellow">
                <div class="m-auto p-2 pb-3 px-5">
                    <div class="text-center text-deco-underline pb-2">
                        <h4>Car details</h4>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Car category:</div>
                        <div>{{ categoryName }}</div>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Car type:</div>
                        <div>{{ subCategoryName }}</div>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Color:</div>
                        <div>{{ selectedCar.color }}</div>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Price per KM:</div>
                        <div>Rs.{{ selectedCar.pricePerKm }}</div>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Driver price:</div>
                        <div>Rs.{{ selectedCar.driverPrice }}</div>
                    </div>
                </div>
            </div>

            <div class="text-center w-50 border-yellow">
                <div class="m-auto p-2 pb-3 px-5" *ngIf="carAgency">
                    <div class="text-center text-deco-underline pb-2">
                        <h4>Agency details</h4>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Agency name:</div>
                        <div>{{ carAgency.agencyName }}</div>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Address:</div>
                        <div class="w-50">{{ carAgency.address }}</div>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Mobile No:</div>
                        <div>{{ carAgency.mobileNo }}</div>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Email:</div>
                        <div>{{ carAgency.emailId }}</div>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Website url:</div>
                        <div>{{ carAgency.websiteUrl }}</div>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Opening Time:</div>
                        <div>{{ carAgency.openingTime }}</div>
                    </div>
                    <div class="d-flex text-left">
                        <div class="font-weight-bold w-50">Closing Time:</div>
                        <div>{{ carAgency.closingTime }}</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>  

    <div class="pt-5">
        <div *ngIf="!isBooked">
            <form [formGroup]="bookCar" (ngSubmit)="onSubmit()">
                <input type="submit" class="btn bg-yellow text-white font-weight-bold" formControlName="book">
            </form>
        </div>
    
        <div *ngIf="isBooked">
            <h3 class="color-yellow">Congratulations, your car is booked!</h3>
        </div>
    </div>
    
</div>
