<div class="text-center" id="appReviews">
    <div class="mt-5">
        <i class="p-1 las la-star size-larger"></i>
        <i class="p-1 las la-star size-larger"></i>
        <em class="p-1 las la-star size-xx-lg"></em>
        <i class="p-1 las la-star size-larger"></i>
        <i class="p-1 las la-star size-larger"></i>
    </div>
    <div class="px-5 mx-5">
        I booked Maruti Swift Dzire from Paycarz. I got a response from the agency within minutes 
        and my car was booked immediately. I would surely say that yes this is the best web app to 
        book a car from.
    </div>
    <div class="font-weight-bold color-yellow">
        AP Singh
    </div>
</div>

