<div id="appHomePageHeader">
    <div class="jumbotron jumbotron-fluid bg-yellow">
        <div class="d-flex">
            <div class="col-sm-4 mx-4">
                <div class="bg-white shadow">
                    <app-booking-form [requireLogIn]="true"></app-booking-form>
                </div>
            </div>
            <div class="col-sm-7">
                <div>
                    <h2 class="text-white font-weight-bold">LUXURY CARS FROM RS.15/KM</h2>
                    <p class="text-secondary py-2">Best prices from the Best Car Rental Agencies</p>
                </div>

                <div class="w3-content w3-display-container" style="max-width:800px; height:400px">
                    <img width="100%" class="my-slides" src="https://www.freeiconspng.com/uploads/black-audi-car-png-17.png">
                    <img width="100%" class="my-slides" src="https://lh3.googleusercontent.com/proxy/e7a6QXYXpxfLMiGotsTuy5LFhZh8Dv82miSimrKHTQtOMdtneQdbjCLRJKUoGxJR1CVchciWP91kmcx_vrMpxtBaGw6eNPspazKQjshxMH0yis-n4EToLprJ1TIX" style="width:100%">
                    <img width="100%" class="my-slides" src="https://webstockreview.net/images/car-png-images-1.png">
                </div>
                <div class="d-flex text-center">
                    <div class="col-xs-1 col-sm-1 font-size-2 angle-color" (click)="plusDivs(-1)"><i class="las la-angle-left"></i></div>
                    <div class="col-xs-10 col-sm-10 d-flex justify-content-center align-items-center w-100 m-auto">
                      <div class="slider-badge demo border border-light rounded-circle mr-1" (click)="currentDiv(1)"></div>
                      <div class="slider-badge demo border border-light rounded-circle mr-1" (click)="currentDiv(2)"></div>
                      <div class="slider-badge demo border border-light rounded-circle" (click)="currentDiv(3)"></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 font-size-2 angle-color" (click)="plusDivs(1)"><i class="las la-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>