$primary-color : #f4c430;

.angle-color{
    color: white;
    &:hover{
        color: gray;
    }
}

.circle{
    &:hover{
        background-color: white;
    }
}

.my-slides {display:none}

.slider-badge{
    height:13px;
    width:13px;
    padding:0
}