<div class="pt-5" id="appHomePageHeader">
    <div class="jumbotron jumbotron-fluid bg-yellow">
        <div class="d-flex">
            <div class="col-sm-4 mx-4">
                <div class="bg-white shadow">
                    <app-booking-form></app-booking-form>
                </div>
            </div>
            <div class="col-sm-7">
                <div>
                    <h2 class="text-white font-weight-bold">LUXURY CARS FROM RS.35/KM</h2>
                    <p class="text-secondary py-2">Best prices from the Best Car Rental Agencies</p>
                </div>
                <div class="text-center pt-2">
                    <img width="100%" src="https://www.freeiconspng.com/uploads/black-audi-car-png-17.png">
                </div>
            </div>
        </div>
    </div>
</div>